# for loop
 - for loop is used to iterate over a sequence. seqeunce can be: string, list, tuple, set or dictionary.
 
 - it doesnot require an index variable beforehead.

In [10]:
a_string = "Look before you leap!"
for x in a_string:
    print(x)

L
o
o
k

b
e
f
o
r
e

y
o
u

l
e
a
p
!

In [11]:
a_list = [4, 3.14, True, "jungle"]
for y in a_list: #one can check it in visualizer
    print(y)

4
3.14
True
jungle

In [12]:
a_tuple = ("python", 'Java', 'C++')
for z in a_tuple:
    print(z)

python
Java
C++

# break statement
 - break statement is used to break the iterations in loop before it looped through all items

In [5]:
a_tuple = ("python", 'Java', 'C++', 'Ruby')
for z in a_tuple:
    if z == 'C++':
        break # check the use of break   
        #continue
    print(z)

python
Java
Ruby

# range() function in for loop
 - range() function is also used for iteration
 - To loop through a set of code, a specified number of times,we can use a range() function.
 - The range() function returns numbers, starting from 0 (by default), incremented by 1 (by default) and ends at (one less) specified number.

In [6]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [7]:
#using starting, ending. use of , instead :
for i in range(1,6):
    print(i)

1
2
3
4
5

In [9]:
#using starting, ending and steps. use of , instead :
for i in range(1,6, 2): #check the step
    print(i)

1
3
5

In [10]:
#using starting, ending and steps. use of , instead :
for i in range(10,5, -1): #check the step is negative
    print(i)

10
9
8
7
6

In [12]:
a_list = [4, 3.14, True, "jungle"]
for i in range(len(a_list)):
    print(i)

0
1
2
3

In [15]:
a_list = [4, 3.14, True, "jungle"]
for i in range(len(a_list)):
    print(i)

0
1
2
3

In [17]:
# what if we want to iterate a portion of list
a_list = [4, 3.14, True, "jungle"]
for i in range(2, len(a_list)):
    print(a_list[i])

True
jungle

# else in for loop
 - the else keyword in a for loop specifies a block of code to be executed when for loop exi

In [1]:
for i in range (6):
    print(i)
else:
    print("Out of loop now!")

0
1
2
3
4
5
Out of loop now!

# pass statement in for loop
 - to avoid an error and doing nothing in some iteration, we use pass statment in for loop too.

In [2]:
for x in range(6): #if do not mention statement in body,
    pass           # then error may occur
else:
    print('Out of loop now!')

Out of loop now!

# Nested for loop
 - Nested for loop: for loop within for loop (outer)
 - In nested loop, for each iteration of outer loop, the inner loop may execute its full iterations.

In [7]:
for p in range(5):
    for q in "Game":
        print(p,q)

0 G
0 a
0 m
0 e
1 G
1 a
1 m
1 e
2 G
2 a
2 m
2 e
3 G
3 a
3 m
3 e
4 G
4 a
4 m
4 e

In [9]:
colors = ['Red', 'Green', 'Yellow']
fruits = ["Apple", "Banana", "Cherry"]

for i in colors:
    for j in fruits:
        print(i, j)

Red Apple
Red Banana
Red Cherry
Green Apple
Green Banana
Green Cherry
Yellow Apple
Yellow Banana
Yellow Cherry

In [1]:
#This is the list of marks obtained by some student in a semester; calculate total marks.
marks = [72, 80, 85, 70, 87]
total = 0
for x in marks:
    total = total + x
else:
    print(f"The student acquired {total} marks ")

The student acquired 394 marks

In [9]:
#iterate through list and print the item 
#which satisfies condition
fruits=["Apple", "Banana", "Cherry", "Date"]
new_list = []
for x in fruits:
    if 'e' in x:
        #print(x)
        new_list.append(x)
        
print(new_list)

['Apple', 'Cherry', 'Date']

In [10]:
#table using for loop, taking input from user
x = int(input("Enter number for table: "))
for i in range(1,11):
    print(f"{x} X {i} = {x*i}")

Enter number for table: 7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

# List comprehension
 - a shorter syntax to create a new list based on previous list.
 syntax:
 - newList = [expression for item in iterable if condition == True]

In [12]:
#short hand: list-comprehension, check differnce
fruits=["Apple", "Banana", "Cherry", "Date"]
new_list = [i for i in fruits if 'e' in i]
new_list

['Apple', 'Cherry', 'Date']

In [16]:
even = [x for x in range(1,11) if x%2==0]
print(even)

[2, 4, 6, 8, 10]

In [17]:
message = "Rumplestiltskin"
#convert each character of message in list item
L1 = [x for x in message]
print(L1)

['R', 'u', 'm', 'p', 'l', 'e', 's', 't', 'i', 'l', 't', 's', 'k', 'i', 'n']

# Covered topics:
 - loop through a string
 - loop through list
 - list comprehension
 - loop tuples

In [3]:
# loop through string
a_string = "go went gone"
for x in a_string: #break for separting words       
    if x == ' ':   #continue for omitting space
        continue
    print(x)

g
o
w
e
n
t
g
o
n
e

In [6]:
# loop through a list
a_list = [5, 2, 7, 10, 25]
i = 0
while i<len(a_list):
    print(a_list[i])
    i+=1

5
2
7
10
25

In [9]:
# list comprehension
a_list = [4, 17, "A", 'beep', False]
new_list = [x for x in a_list]
print(new_list)

[4, 17, 'A', 'beep', False]

In [11]:
# loop through a tuple
a_tuple = (4,5,10, 25)
for x in a_tuple:
    print(x)

4
5
10
25